@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo a página de cadastro do usuário</h1>
    <p>Aqui é cadastrado o usuário para empresa Hexagon</a>.</p>
</div>
